﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default2.aspx.cs" Inherits="Soln_Asp_ReadOnly.Default2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span style="text-align:center; color:blueviolet; height:30px; width:90px;" >
            Welcome Sir
        </span>
    </div>
    </form>
</body>
</html>
